@font-face {
    font-family: 'min';
    src: url('/font/min.eot?') format('oldIE'),
        url('/font/min.woff') format('woff'),
        url('/font/min.ttf') format('truetype');
}


.title_box {
    width: 100%;
}

.min {
    font-family: 'min';
}

* {
    margin: 0px;

    padding: 0px;
}



.title_botton_ {
    border-color: #000:#ffffff;
    color: #ffffff;
    font-family: "futura pt";
    font-size: 26.6667px;
    padding: 30px 15px 0px;
    text-align: right;
    transition: color 0.5s;


}

.title_botton_ :hover {
    transition: 1.0s;
    color: #3d5cDB;
}


.introduction_title {
    text-align: center;
    float: left;
    margin-top: 100px;

}

.title_subtitle {
    border-color: #ffffff;
    color: #ffffff;
    font-family: "Futura";
    font-style: italic;
    font-size: 45px;
    font-weight: 0px;
    gap: normal;
    margin: 30px 0px 0px;
    text-align: center;
}

nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

}

nav li {
    list-style-type: none;
    float: right;
    margin-top: 2px;
}

nav a {
    font-size: 26.6667px;
    padding: 30px 15px 0px;
    display: block;
    text-decoration: none;
    color: #f9f9f9;

}




.introductionbox {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}

#box1 {
    margin-bottom: 100px;
    align-items: center;
}

#box2 {
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.introduction_pic1 {
    float: left;
    /*    margin-right: 40px;*/

}

.intro_word1 {
    float: left;
    border-color: #333333;
    color: #333333;
    font-family: Hiragino Kaku Gothic Pro;
    line-height: 32px;
    border-left: 40px;
    height: 356px;
    width: 500px;

}


.introduction_pic2 {
    float: left;
}

.intro_word2 {
    float: left;
    border-color: #333333;
    color: #333333;
    font-family: Hiragino Kaku Gothic Pro;
    line-height: 32px;

    height: 356px;
    width: 500px;

}

.intro_botton {

    background-color: #3d5cdb;
    border-color: #ffffff;
    border-radius: 12px;
    color: #ffffff;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    margin: 30px 165px;
    text-align: center;
    transition: 1.0s;
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    font-weight: bold;
}

.intro_botton2 {
    background-color: #ffbf00;
    border-color: #ffffff;
    border-radius: 12px;
    color: #ffffff;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    margin: 30px 165px;
    text-align: center;
    transition: 1.0s;
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.introduction2 {
    text-decoration: none;
    color: #ffffff;
}

.introduction1 {
    text-decoration: none;
    color: #ffffff;
}

.word {
    margin: 0px 50px;
}

.title {
    border-color: #3d5cdb;
    color: #3d5cdb;
    font-family: Futura;
    font-size: 53.3333px;
    font-weight: 700;
    padding: 40px;
    text-align: center;
}

#courses {

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}

.course {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

}


.container {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 50px;
}

.courses_card_html {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}

.course_img {
    width: 150px;
    height: 148px;
    align-items: center;
}

.img_courses_card_html {
    margin-left: 40px;
}

.img_card_html {
    width: 40px;
    height: 170px;
    margin: 3.57812px 25px;

}

.html_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_html {
    background-color: #f16529;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_html {
    text-decoration: none;
    color: #fff;
}


/*CSSボタン*/

.courses_card_css {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}


.img_courses_card_css {
    margin-left: 40px;
}

.img_card_css {
    width: 40px;
    height: 170px;
    margin: 3.57812px 25px;

}

.css_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_css {
    background-color: #29a9df;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_css {
    text-decoration: none;
    color: #fff;
}


/*unityボタン*/


.courses_card_unity {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}




.img_card_unity {

    margin: 24px 25px 40px 40px;

}

.unity_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_unity {
    background-color: #333333;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_unity {
    text-decoration: none;
    color: #fff;
}



/*rubyボタン*/


.courses_card_ruby {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}




.img_card_ruby {

    margin: 24px 25px 40px 40px;

}

.ruby_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_ruby {
    background-color: #ff5252;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_ruby {
    text-decoration: none;
    color: #fff;
}

/*javascriptボタン*/


.courses_card_javascript {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}


.img_courses_card_javascript {
    margin-left: 40px;
}

.img_card_javascript {
    width: 40px;
    height: 170px;
    margin: 3.57812px 25px;

}

.javascript_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_javascript {
    background-color: #fed700;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_javascript {
    text-decoration: none;
    color: #fff;
}

/*swiftボタン*/


.courses_card_swift {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}




.img_card_swift {

    margin: 24px 25px 40px 40px;

}

.swift_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_swift {
    background-color:
        #fe7536;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_swift {
    text-decoration: none;
    color: #fff;
}

/*swiftボタン*/


.courses_card_go {
    width: 180px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px;
    padding: 30px;
}




.img_card_go {

    margin: 24px 25px 40px 40px;

}

.go_title {
    color: #183c61;
    font-size: 14.6667px;
    font-weight: 700;
    margin: 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

.courses_botton_go {
    background-color: #73cedd;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    margin: 15px 5px;
    text-align: center;
}

.botton_go {
    text-decoration: none;
    color: #fff;
}

/*hover*/
.courses_botton_html:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_css:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_unity:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_ruby:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_javascript:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_swift:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}

.courses_botton_go:hover {
    box-shadow: #858c8e 0px 2px 20px 1px;
}


#slick {

    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    height: 450px;
}

.slick01 {
    opacity: 1;

    position: relative;

    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

.slick_list {
    position: relative;
    overflow: hidden;


    margin: 0;
    padding: 0;


}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#access {
    padding: 0px 0px 40px;
}

.footer {
    border-color: #3d5cdb;
    color: #3d5cdb;
    line-height: 60px;
    text-align: center;
    font-family: Futura;
}

.bgimg-slider {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#particles {
    background-color: #D3E2F6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.fade {

    opacity: 0;

    transform: translateY(20px);

    transition: all 1s;

}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*スマホ用*/
@media (max-width: 450px) {
    .logo {
        width: 70vw;
        margin: auto;
    }

    .title_subtitle {
        font-size: 10%;
        margin-top: 5%;
    }

    .title_botton_ {
        display: none;
    }


    .title {
        font-size: 150%;
    }

    .sp_intro_pic {
        width: 90%;
        margin-left: 5%
    }

    .intro_word1 {
        width: 100%;


        line-height: 2;

    }

    .intro_word2 {
        width: 100%;


        line-height: 2;

    }

    .word {
        font-size: 13px;
        margin-top: 20px;
    }

    .introduction1 {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #3D5CDB;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }

    .introduction2 {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }


    .cc {
        width: 100px;
        height: 180px;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
    }

    .course_img {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        position: relative;
    }

    .img_courses_card_html {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }

    .botton_html {}

    .courses_botton_html {
        background-color: #f16529;
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .html_title {
        font-size: 80%;
    }

    .img_courses_card_css {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }


    .courses_botton_css {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .css_title {
        font-size: 80%;
    }

    .img_courses_card_unity {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }

.img_card_unity {

    margin: 10px 8px;
    width: 80%;
    height: 80%;

}
    .courses_botton_unity {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .ruby_title {
        font-size: 80%;
    }

    .img_courses_card_ruby {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }


    .courses_botton_ruby {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .ruby_title {
        font-size: 80%;
    }
    .img_card_ruby {

    margin: 10px 8px;
    width: 80%;
    height: 80%;

}

    .img_courses_card_javascript {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }


    .courses_botton_javascript {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .swift_title {
        font-size: 80%;
    }
    .img_courses_card_swift {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }


    .courses_botton_swift {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .img_card_swift {

    margin: 10px 8px;
    width: 80%;
    height: 80%;

}
    .go_title {
        font-size: 80%;
    }
    .img_courses_card_go {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }


    .courses_botton_go {
        border-radius: 20px;
        font-size: 1px;
        font-weight: 700;
        line-height: 37px;
        width: 110px;
        margin: 15px -5px 5px;
        text-align: center;


    }

    .go_title {
        font-size: 80%;
    }
    .img_card_go {

    margin: 10px 8px;
    width: 80%;
    height: 80%;

}
}

}
